{{set . "title" "Workload"}}
{{template "header.html" .}}

<div class="container theme-showcase" role="main">

<div class="page-header">
  <h1>Workload</h1>
</div>

<p>Welcome {{.user.Username}}. The project is being generated. Results are displayed below.</p>

<div id="events">
  <script type="text/html" id="event_tmpl">
    {{raw "<%"}} if(event.Type == 'start') { %>
      <div class="alert alert-success">
        <p>Starting: {{raw "<%"}}= event.Text %></p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'progress') { %>
      <div class="alert alert-info">
        <p>Progress: {{raw "<%"}}= event.Text %></p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'complete') { %>
      <div class="alert alert-success">
        <p>Completed: {{raw "<%"}}= event.Text %></p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'error') { %>
      <div class="alert alert-warning">
        <p>Error: {{raw "<%"}}= event.Text %></p>
      </div>
    {{raw "<%"}} } %>
  </script>
</div>
</div>

<script type="text/javascript">
  var wsuri = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host+'/workload/socket'
  var sock = new WebSocket(wsuri);
  // Display a message
  var display = function(event) {
    $('#events').append(tmpl('event_tmpl', {event: event}));
  }
  // Message received on the socket
  sock.onmessage = function(event) {
    display(JSON.parse(event.data))
  }
</script>

{{template "footer.html" .}}
